.piano {
    height: 120px;
    width: 100%;
}



@media screen and (max-width: 850px) {
    .piano {
        height: 90px;
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .piano {
        height: 70px;
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .piano {
        height: 50px;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .piano {
        height: 40px;
        width: 100%;
    }
}
